<form action="/update" method="post">
  
  <div class="form-group">
    <label for="title">제목</label>
    <input name="title" type="text" class="form-control" id="title" placeholder="이메일을 입력하세요">
  </div>
  
  <div class="form-group">
    <label for="content">내용</label>
    <input name="content" type="text" class="form-control" id="content" placeholder="이메일을 입력하세요">
  </div>
  
  <div class="form-group">
    <label for="hashtags">태그</label>
    <input name="hashtags" type="text" class="form-control" id="hashtags" placeholder="이메일을 입력하세요">
  </div>

  <button type="submit" class="btn btn-default">제출</button>
</form>